<ul class="navbar-nav me-auto mb-2 mb-lg-0">
    <li class="nav-item"><a class="nav-link active" aria-current="page">新着</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page">未対応</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page">対応中</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page">保留中</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page">解決済み</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page">自分の担当</a></li>
    <li class="nav-item"><a class="nav-link active" aria-current="page">削除済み</a></li>
</ul>